<?php

define('ISSUE_TITLE','');
define('ISSUE_DATE', mktime(0, 0, 0, 7, 1, 2000));
define('ISSUE_MEDIA', '');
define('ISSUE_LCCN', '');
define('ISSUE_VOLUME', '');
define('ISSUE_ISSUE', '');
define('ISSUE_EDITION', '');
define('MISSING_PAGES', '');
define('ISSUE_CONTENT_MODEL_PID', '');
define('PAGE_CONTENT_MODEL_PID', '');
