<?php
/*
JS, December 2013 : There was an erroneous spec initially developed that
specified the ISSUE_DATE line in issue_metadata.inc.php should be formatted
DD, MM, YYYY. The PHP date() function requires input of MM, DD, YYYY. a fix
was developed for this in importSourceTree.py and users should continue to
incorrectly specify the date until the backlog has been ingested. At that
point, the fix can be removed from importSourceTree.py.
*/

define('ISSUE_DATE', mktime(0, 0, 0, 1, 2, 1992));
define('ISSUE_TITLE','Atlantic Business Report');
define('ISSUE_VOLUME', '1');
define('ISSUE_ISSUE', '1');
define('ISSUE_EDITION', '');
define('ISSUE_SUPPLEMENT_TITLE', '');
define('MISSING_PAGES', '');
define('ISSUE_ERRATA','Date of issue not printed, only month and year are printed');
define('ISSUE_CONTENT_MODEL_PID', 'islandora:newspaperIssueCModel');
define('PAGE_CONTENT_MODEL_PID', 'islandora:newspaperPageCModel');
define('ISSUE_LANGUAGE', 'eng');
define('SOURCE_MEDIA','print');
